body {
	background-size: 1350px;
	position: relative;
	top: 70px;
}
h1 {
	position: relative;
	top: -300px;
}
img {
	position: relative;
	top: 200px;
    left: 250px;
}


.header {
  text-align: center;
  padding: 32px;
}
.btn1, .btn2, .btn3 {
  position: relative;
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #F2D284;
  
}
.btn1:hover, .btn2:hover, .btn3:hover {
  background-color: #F2D284;
}
.grey{ 
  color:#F2D284;
  font-size: 80px;
}
label, #drink, #salty, #sweet{
	display:none;
}
li {
	list-style: none;
}
#add {
	position: relative;
	left: 1200px;
	top: 320px;
}



